.buttonHolder {
  opacity: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
}

.buttonSVG {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
